.favorite-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 36px;
  height: 36px;

  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,0.55);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.25s;
}

.favorite-btn svg {
  stroke: white;
  transition: 0.25s;
}

.favorite-btn.active {
  background: #dc3545;
}

.favorite-btn.active svg {
  stroke: white;
  fill: #dc3545;
}
.bg-dark{
    background-color: #1B1B1B !important;

}

.border-dark{
    border-color:#333333 !important;
}

.head p{
    
color:    #A1A1A1;
 
}

.fav-counter {
  position: absolute;
  top: 100px;
  left: 50%;

  background: white;
  color: black;

  width: 14px;
  height: 14px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 11px;
  font-weight: 700;
}
